.wrapper {
  :global {
    .ant-radio-button-wrapper{
      transform: skewX(-18deg);
    }
  }
  .excel {
    position: relative;
    table {
      // margin: 0 auto;
      tr {
        th,
        td {
          display: table-cell;
          min-width: 50px;
          height: 30px;
          padding: 5px;
          text-align: center;
          border: 1px solid #ccc;
        }
      }
    }
  }
}