.wrapper {
  .dividerStyle {
    margin-top: 0;
  }

  :global {
    .ant-pro-form-group {
      .ant-space {
        .ant-space-item {
          .ant-form-item-label {
            margin: 0;
          }
        }
      }
    }
  }
}

.hidePageContainer {
  :global {
    .ant-pro-card-body {
      padding-top: 0;
    }
    .ant-pro-page-container-warp {
      .ant-page-header {
        display: none;
      }
    }
  }
}


.hideTabs {
  :global {
    .ant-tabs-nav {
      display: none;
    }
  }
}

.footerStyle {
  height: 48px;
}